{{extend 'layout.html'}}
      <div class="container">       
            <div class="row-fluid">  
              <section>
                  <div class="span12">
                     <img src="{{=URL('static', '14.png')}}" alt="">                
                  </div>  
              </section>
              <section>
                <div class="span12">
                    <h1>{{=T("Collecting")}}</h1>
                    <hr>                     
                </div>
                <div class="row-fluid">
                  {{for project in projects:}}
                    {{=XML(project)}}
                  {{pass}}
                </div>
              </section>           
              <section>
              {{if final_projects == []:}}
              {{else:}}           
                <div class="span12">
                    <h1>{{=T("Ending")}}</h1><hr>
                </div>
                <div class="row-fluid">
                  {{for f_project in final_projects:}}
                    {{=XML(f_project)}}
                  {{pass}}
                </div>
              {{pass}}
              </section>
            </div>           
        </div>
