{{extend 'layout.html'}}
      <div class="container">       
            <div class="row-fluid">  
              <section>
                <div class="span12">
                    <h1>{{=T("Not Autorized")}}</h1>
                    <hr>                     
                </div>
                <div class="span12 well m_left">                  
                  <div class="span4 offset4">
                    <img src="{{=URL('static', 'images/not_autorized.png')}}">
                  </div>
                </div>
              </section>           
            </div>           
        </div>