{{extend 'layout.html'}}
      <div class="container">       
            <div class="row-fluid">  
              <section>
                <div class="span12">
                    <h1>{{=T("Donation Received")}}</h1>
                    <hr>                     
                </div>
                <div class="span12 well form-project m_left">
                    <p class="alert alert-success">{{=T("Thank you for your donation, once it is released by MoIP will be credited to the project.")}}</p>
                </div>
              </section>           
            </div>           
        </div>