{{extend 'layout.html'}}
      <div class="container">       
        <div class="row-fluid">  
          <section>
            <div class="span12">
                <h1>
                  {{=T("Edit the Reward")}}
                   <a class="btn btn-warning a-return" href="{{=URL(c='user', f='profile')}}">{{=T("Back")}}</a>
                </h1>
                <hr>
            </div>                        
            <div class="row-fluid">
              <div class="span12 nav-profile">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#new-reward" data-toggle="tab">{{=T("Edit the reward")}}</a>
                  </li>
                </ul>         
              </div>
          </section>
          <section>
            <div class="span12 well projeto_pronto">  
                <div class="row-fluid  tab-content">
                  <div id="new-reward" class="tab-pane active">
                      {{=form_project_reward_edit.custom.begin}}
                      <p>
                        <label for="">{{=T("Value")}}:</label>
                        {{=form_project_reward_edit.custom.widget.reward_value}}
                      </p>
                      <p>
                        <label for="">{{=T("Description")}}:</label>
                        {{=form_project_reward_edit.custom.widget.reward_description}}
                      </p>
                      <input type="hidden" value="{{=request.args(0)}}" name="id_project">
                      <input type="hidden" value="{{=auth.user.id}}" name="id_auth_user">
                      <p class="btn-submit">
                        <input type="submit" value="{{=T('Send')}}" class="btn btn-warning btn-large">
                      </p> 
                      {{=form_project_reward_edit.custom.end}}
                  </div>
                <div>
              </div>
          </section>              
        </div>
      </div>
      