<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
      <![endif]-->

  <title>{{=response.title or request.application}}</title>

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <!-- Speaking of Google, don't forget to set your site up:
       http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

  <!-- include stylesheets -->
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
  {{  
  response.files.append(URL('static','css/style.css'))
  response.files.append(URL('static','css/bootstrap-responsive.min.css'))
  response.files.append(URL('static','css/bootstrap.css'))  
  response.files.append(URL('static','css/web2py_bootstrap_nojs.css'))  
  }}
  {{include 'web2py_ajax.html'}}
  <script type="text/javascript" src="{{=URL('static','js/nicedit/nicEdit.js')}}"></script>
  <noscript>
    <link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" />
  </noscript>

</head>
<body>
<a href="https://github.com/codeupstudio/chipincode">
<img style="position: absolute; z-index:9999;  top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"  alt="Fork me on GitHub"></a>
    <header>
      <div class="navbar navbar-fixed-top">
              <div class="navbar-inner">
                  <div class="container">
                      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </a>
                      <a class="brand" href="#" title="{{=response.title or request.application}}">
                        <img src="{{=response.logo}}" alt="{{=response.title or request.application}}">
                      </a>
                      <div class="nav-collapse collapse">                         
                          <ul class="nav pull-right top-nav">
                              <li class="active">
                                  <a href="{{=URL(c='default', f='index')}}">Home</a>
                              </li>
                              <li>
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {{=T("Help a Project")}}
                                  </a>
                                   <ul class="dropdown-menu help_project">
                                      {{for menu_item in response.menu_categories:}}
                                      <li>
                                        <a href="{{=URL(c='project', f='show_category', args=menu_item.id)}}">
                                          {{=menu_item.category_name}}
                                        </a>
                                      </li>
                                      {{pass}}
                                   </ul>
                              </li>
                              <li>
                                  <a href="{{=URL(c='project', f='project_send')}}">{{=T("Send a Project")}}</a>
                              </li>
                              <li>
                                  <a href="{{=URL(c='default', f='faq')}}">{{=T("FAQ")}}</a>
                              </li>
                              <li>
                                  <a href="{{=URL(c='default', f='contact')}}">{{=T("Contact us")}}</a>
                              </li>
                              <li>
                                {{if auth.is_logged_in():}}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                 {{=T("Hello")}} {{=auth.user.first_name}}
                                </a>
                                <ul class="dropdown-menu">
                                  <li>
                                    <a href="{{=URL(c= 'default', f='user', args='logout')}}">{{=T("Logout")}}</a>
                                    <a href="{{=URL(c= 'user', f='profile')}}">{{=T("Your profile")}}</a>
                                  </li>
                                </ul>
                                {{else:}}
                                  <a href="{{=URL(c= 'default', f='user')}}">{{=T("Login")}}</a>
                                {{pass}}
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </header>
      <div class="flash">{{=response.flash or ''}}</div>  

      {{include}}

      <footer class="footer-container">
          <div class="container">
              <div class="row-fluid sub-footer">  
          <div class="span4">
            <h3>{{=T("Find us")}}</h3>            
            <ul class="lista-midias">
              <li class="facebook-rod">
                <a href="http://www.facebook.com/codeupstudio" title="Facebook" target="_blank">
                  facebook.com/codeupstudio
                </a>
              </li>
              <li class="google-rod">
                <a href="https://plus.google.com/u/1/104224628915734590243" title="Google +" target="_blank">
                  plus.google.com/codeupstudio
                </a>
              </li>
              <li class="twitter-rod">
                <a href="http://www.twitter.com/codeupstudio" title="Twitter" target="_blank">
                  @codeupstudio
                </a>
              </li>
              <li class="youtube-rod">
                <a href="http://www.youtube.com/codeupstudio" title="Youtube" target="_blank">
                  youtube.com/codeupstudio
                </a>
              </li>
              <li class="feed-rod">
                <a href="http://feedburner.google.com/fb/a/mailverify?uri=blog-codeupstudio&amp;loc=pt_BR" title="RSS" target="_blank">
                  codeup.com.br/blog
                </a>
              </li>   
            </ul>
            <h4>{{=T('Newsletter')}}</h4>
            <form class="cadastra-news">
              <input type="text" class="small-text" placeholder="Digite seu email">
              <input type="submit" value="Cadastrar" class="btn btn-warning">
            </form>           
          </div>
          <div class="span4">
            <h3>{{=T('Categories')}}</h3>
            <ul class="categories">
            {{for menu_footer in response.menu_categories:}}
              <li>
                <a href="{{=URL(c='project', f='show_category', args=menu_footer.id)}}">
                  {{=menu_footer.category_name}}
                </a>
              </li>
            {{pass}}
            </ul>         
          </div>            
          <div class="span4">
          <div id="fb-root"></div>
          <script>
              (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=259487456022";
                  fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
          </script>
            <h3>{{=T('Become a fan')}}</h3>
            <div>         
            <div class="fb-like-box" data-href="http://facebook.com/codeupstudio" data-width="350" data-height="295" data-show-faces="true" data-stream="false" data-header="false"></div>
            </div>            
          </div>    
        </div>
        
        <div class="row-fluid">
          <hr>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <p>{{=T('Copyright')}} &#169; {{=request.now.year}} Chip in Code</p>
          </div>
            <nav class="span6">
              <ul>              
                <li> <a href="{{=URL(c='default', f='faq')}}">{{=T("FAQ")}}</a></li>
                <li><a href="{{=URL(c='default', f='contact')}}">{{=T("Contact us")}}</a></li>  
              </ul>
            </nav>
        </div>
      </div>
      </footer>
  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
  <!--[if lt IE 7 ]>
      <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
  <![endif]-->

<!-- facebook tools -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=122600964588805";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- google analytics -->
  {{if response.google_analytics_id:}}
  <script src="{{=URL('static','js/analytics.js')}}"></script>
  <script type="text/javascript">
  analytics.initialize({
    'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'} 
  });</script>
  {{pass}}
</body>
</html>