{{extend 'layoutadmin.html'}}
        <div class="span9">
          <div class="container-fluid well admin_panel">
            <h1>{{=T("Website Images")}}</h1>
            <p>{{=T("Set here your images")}}.</p>
          </div>
          <div class="container-fluid well admin_panel">
            <p>
              <h2>{{=T("Website Images")}}</h2>
              <div id="config_website_images" >
                {{=form_images}}
              </div>
            </p>        
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
      <hr>